.slot{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 200px;
    border: 0;
    background-color: #777777;
    box-sizing: border-box;
    border-radius: 8px;
}

.filled{
    
    background-color: #cccccc;
    color: #111111;
}

.declined{
    border: 2px solid red;
}

.acceptable{
    border: 3px dotted seagreen;
}